.cover-picture {
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -2;
}

.white-shade {
  background-color: #fff;
  height: 100vh;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.cover-flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  justify-content: center;
  width:100%
}

.name {
  font-size: 10vmin;
  font-weight: lighter;
  margin-top: 0;
  position: absolute;
  text-align: center;
}

.greeting {
  font-size: 4vmin;
  font-style: italic;
  font-weight: 500;
  margin-top: -15vmin;
  position: absolute;
  text-align: center;
}

.name span {
  display: inline-block;
  position: relative;  
}

.name span::before,
.name span::after {
  // border-bottom: 0.1rem solid black;
  border-top: 0.1rem solid #000;
  content: '';
  height: 1vmin;
  margin-top: 6.2vmin;
  position: absolute;
  width: 40%;
}

.name span::before {
  margin-right: 2vmin;
  right: 100%;
}

.name span::after {
  left: 100%;
  margin-left: 2vmin;
}

.down-arrow {
  cursor: pointer;
  font-size: 6vmin;
  position: absolute;
  top:90%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .down-arrow {
    font-size: 10vmin;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .down-arrow {
    font-size: 8vmin;
  }
}
