@import './common/variables';

.footer {
  align-items: center;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.7vmin;
  font-weight: 700;
  height: 8vmin;
  justify-content: center;
  width: 100%;
}

.footer-year {
  margin-top:0;
  padding: 0 1vmin;
}

.footer-name {
  // border-bottom: 0.35vmin solid #000;
  color: #000;
  // margin-top:0.3vmin;
  text-decoration: none;
}

/* Potrait devices */
@media only screen and (max-device-aspect-ratio: 1/1), (max-aspect-ratio: 1/1) {
  .footer {
    font-size: 3vmin;
  }
}

