.main-section-head {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Quicksand', sans-serif;
  font-size: 15vmin;
  font-weight: 100;
  height: 100vh;
  justify-content: center;
}

.section-body {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Quicksand', sans-serif;
  font-size: 4vmin;
  font-weight: 400;
  height: 100vh;
  overflow: hidden;
  padding-top:2vmin;
  text-align: justify;
}

.about-body {
  padding-right:2vmin;
}

.experience-body {
  padding-left:2vmin; 
}

/* No normal bullets */
.experience-list {
  cursor: pointer;
  list-style-type: none;
  margin-top:9.3vmin;
}

.experience-list > li {
  font-family: 'Quicksand', sans-serif;
  
  /* Use padding to space things out rather than margins as the line would get broken up otherwise */
  margin: 0;
  padding-bottom: 8vmin;
  padding-left: 8vmin;
  position: relative;
}

.company-name {
  float: left;
  margin-top: -1.5vmin;
  padding-left: 3vmin;
}

/* The line between the bullets */
.experience-list > li::before {
  background-color: #000;
  bottom: 0;
  content: '';
  left: 9.2vmin;
  position: absolute;
  top: 0;
  width: 0.2vmin;
  z-index: -1;
}
    
.experience-list > li:first-child::before { 
  top: 2vmin;  
}

.experience-list > li:last-child::before { 
  height: 0; 
}
    
/* Styles for the company logo as bullet points */
.bullet {
  align-items: center;
  background-color: #fff;
  border-style: solid;
  // border-radius: 50%;
  border-width: 0.3vmin; 
  display: flex;
  float: left;
  height: 2vmin; 
  overflow: hidden;
  width: 2vmin;
}

.bullet > svg { 
  display: block; 
  fill: '#000';
  height: 100%;
  margin: '0 auto'; 
  margin: 0 auto;
  opacity: 1;
  width: 100%;
}

.exp-duration {
  float: left;
  font-size: 2vmin;
  margin-top: 0;
  padding-left: 2vmin;
}

.tech-body {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding:0;
  text-align: center;
}

.tech-list{
  height: 8vmin;
  margin-top:6%;
  width: 8vmin;
}

.tech-icons {
  cursor: pointer;
  height: 60%;
  width:60%;
}

.tech-name {
  cursor: pointer;
  font-size: 2.5vmin;
  font-weight: 400;
  margin-top: 4.5%;
  opacity: 0;
  position:absolute;
}

.tech-list-grid {
  align-items: flex-end;
  align-items: center;
  display:flex;
  justify-content: center;
}

.tech-main-container {
  height: 65%;
  width: 100%;
}

.contact-body {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding:0;
  text-align: center;
}

.contact-body-warpper {
  height: 30%;
  width: 100%;
}

.heading-contact {
  font-weight: 400;
  margin-right:3%;
}


.contact-smiley-icon {
  display: block;
  left:42.4%;
  margin-top:-2.1%;
  position: absolute;
}

.contact-email-icon {
  margin-left:-2.2%;
  margin-top:0.3%;
  position: absolute;
}

.email-contact {
  cursor: pointer;
  font-weight: 600;
  margin-left:5.5%;
  margin-top: 10%;
}


.contact-social-icons {
  cursor: pointer;
  margin-top: 10%;
}


.contact-social-icon {
  padding-left:5%;
  padding-right:5%;
}

/* Potrait devices */
@media only screen and (max-device-aspect-ratio: 1/1), (max-aspect-ratio: 1/1) {
  .main-section-head {
    align-items: flex-end;
    height: 25vh;
  }
  
  .section-body {
    align-items: center;
    font-size: 6vmin;
    height: 75vh;
    padding-left: 2vh;
    padding-right:2vh;
  }

  .experience-body {
    order:2
  }

  .experience-head {
    order:1
  }

  .experience-list > li {
    padding-bottom: 16vmin;
    padding-left: 0;
  }

  .company-name {
    margin-top: -1.1vmin;
  }

  .bullet { 
    border-width: 0.8vmin;
    height: 4vmin; 
    width: 4vmin;
  }

  .experience-list > li::before {
    left: 2.5vmin;
    width: 0.5vmin;
  }

  .experience-list > li:first-child::before { 
    top: 5.5vmin;  
  }
  
  .experience-list > li:last-child::before { 
    height: 2vmin; 
  }

  .freelance > img {
    padding-top:20%;
  }

  .exp-duration {
    font-size: 3vmin;
    margin-top: 1.5vmin;
  }

  .tech-list{
    height: 10vmin;
    width: 10vmin;
  }

  .tech-icons {
    height: 70%;
    width: 100%;
  }

  .tech-name {
    font-size: 3.5vmin;
    margin-top: 10%;
  }

  .tech-list-container{
    margin-top: -1%;
  }

  .contact-body {
    order:2
  }

  .contact-head {
    order:1
  }
  
  .heading-contact {
    font-size: 4.5vmin;
    margin-right:3%;
  }
  
  
  .contact-smiley-icon {
    margin-left: 47%;
    margin-top:-4.9%;
  }
  
  .contact-email-icon {
    margin-left:-5%;
    margin-top:0.9%;
    position: absolute;
  }
  
  .email-contact {
    font-size: 4.5vmin;
  }
  
  
  .contact-social-icons {
    font-size: 4.5vmin;
  }

}
